div.attribute {
    padding: 4px;
    float: left;
}

div#filter_list {
    margin-bottom: 20px;
    padding: 4px;
    border: 1px dotted #000;
}

img#cross {
    vertical-align: text-top;
}

div.object {
    padding: 4px;
    float: left;
}

div#attributes {
    clear: both;
}

div.implication-table table, tr{
    border: 0px none;
    padding: 4px;
}
td, th{
    border: 1px solid black;
    padding: 4px;
}