div.attribute {
    padding: 4px;
    float: left;
}

div#filter_list {
    margin-bottom: 20px;
    padding: 4px;
    border: 1px dotted #000;
}

img#cross {
    vertical-align: text-top;
}

div.object {
    padding: 4px;
    float: left;
}

div#attributes {
    clear: both;
}

div.implication-table table, tr, td, th{
    border: 0px none;
    padding: 4px;
}

div.imp-conclusion, div.imp-premise {
    margin: 5px; 
    padding: 2px; 
    float: left; 
    border-style: solid; 
    border-width: 1px;
}

div.imp-premise {
    background-color: #9CBBEB;
}

div.imp-conclusion {
    background-color: #D1DFC9;
}

span#show-attributes {
    background:none no-repeat left center;
    background-image:url('../img/bullet_toggle_plus.png');
    padding-left: 28px;
    cursor: pointer;
    font-size:1.5em;
    font-weight:bold;
}

span#show-attributes.collapsed {
    background:none no-repeat left center;
    background-image:url('../img/bullet_toggle_minus.png')
}

div.edit-object {
    margin:10px;
}

div.edit-attributes {
    padding-left: 28px;
    margin-top: 10px;
}

div.edit-attribute-header {
    padding-left: 28px;
    font-size:1.5em;
    font-weight:bold;
}

div.edit-attribute {
    margin:10px;
}