{% extends group_base|default:"site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
          <li><a href="{% groupurl lattice group %}">{% trans "Lattice" %}</a></li>
          <li><a href="{% groupurl implications group %}">{% trans "Questions" %}</a></li>
          <li><a href="{% groupurl object_new group %}">{% trans "New Object" %}</a></li>
          <li><a href="{% groupurl attribute_new group %}">{% trans "New Attribute" %}</a></li>
          <li><a href="{% groupurl edit_kb group %}">{% trans "Objects" %}</a></li>
          <li><a href="{% groupurl edit_attributes group %}">{% trans "Attributes" %}</a></li>
          <li><a href="{% groupurl import_context group %}">{% trans "Import" %}</a></li>
          <li><a href="{% groupurl export_context group %}">{% trans "Export" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
