{% extends "exploration/base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body %}

<div style="display:none">
    <form id="counterexample_form" method="post" action="">
            <input type="hidden" id="imp_pk" name="imp_pk" value=""/>
        <p>
            <label for="example_name">Name: </label>
            <input type="text" id="example_name" name="example_name" size="30" />
        </p>
        <p>
        {% for attr in attributes %}
            <input type="checkbox" class="attribute-input" name="{{ attr.pk }}" />{{ attr.name }}</br>
        {% endfor %}
        </p>
        <p>
            <input type="submit" value="Submit" />
        </p>
    </form>
</div>

<h1>Implications</h1>

<div class="implication-table">
<h2>Background Knowledge</h2>

<table>
<tr style="background-color: #99BBCC">
    <th>Premise</th>
    <th>Conclusion</th>
    <th>Controls</th>
</tr>
{% for imp in confirmed_implications %}
    <tr style="background-color: {% cycle '#FFFFFF' '#99BBCC' as rowcolor %}">
    <td>
    <table style="border: 0px;">
    {% for attr in imp.premise.all %}
        {{ attr.name }}<br/>
    {% endfor %}
    </table>
    </td>
    <td>
    <table>
    {% for attr in imp.conclusion.all %}
        {{ attr.name }}<br/>
    {% endfor %}
    </table>
    </td>
    <td>
        <a id="{{ imp.pk }}" class="unconfirm-imp" href="#">Unconfirm</a>
    </td>
    </tr>
{% endfor %}
</table>

<h2>Open Implications</h2>

<table>
<tr>
    <th>Premise</th>
    <th>Conclusion</th>
    <th>Controls</th>
</tr>
{% for imp in open_implications %}
    <tr>
    <td>
    <table style="border: 0px;">
    {% for attr in imp.premise %}
        {{ attr }}<br/>
    {% endfor %}
    </table>
    </td>
    <td>
    <table>
    {% for attr in imp.conclusion %}
        {{ attr }}<br/>
    {% endfor %}
    </table>
    </td>
    <td>
        <a id="{{ imp.pk }}" class="confirm-imp" href="#">Confirm</a></br><a id="{{ imp.pk }}" class="reject-imp" href="#counterexample_form">Reject</a>
    </td>
    </tr>
{% endfor %}
</table>
</div>

{% endblock %}