{% extends "about/tutor_base.html" %}
{% block tutor_header %}База знаний{% endblock tutor_header %}
{% block tutor_content %}
    <p>    
	Теперь вы находитесь на главной странице базы знаний. Пока она пустая, но в дальнейшем здесь будут отображаться признаки и объекты, которые будут туда добавлены, и скоро Вы узнаете, как это сделать.
Инструменты для работы с базой находятся во вкладках  вверху и доступны с любой страницы проекта. 
	<dl>
	<dt>Lattice</dt>
	<dd>Здесь находится решетка понятий</dd>
	<dt>Questions</dt>
	<dd>На этой странице система будет указывать на выявленные зависимости среди объектов базы знаний<dd>
	<dt>New object</dt>
	<dd>Инструмент для описания новых объектов <dd>
	<dt>New attribute</dt>
	<dd>Соответственно инструмент для описания новых признаков<dd>
	<dt>Objects</dt>
	<dd>Существующие объекты. Здесь Вы можете их модифицировать и связывать со свойствами, присущими данному объекту<dd>
	<dt>Attributes</dt>
	<dd>Существующие признаки<dd>
	<dt>Import</dt>
	<dd>Тут Вы можете добавить существующие объекты и атрибуты<dd>
	<dt>Export</dt>
	<dd>Позволяет сохранить Вашу базу в формате .csv</dd>
	</dl>
Попробуем добавить новые объекты, которые у нас имеются. 
        <img src="{{ STATIC_URL }}samples/knowledge_base.jpg" align = "middle" name="Main Page" vspace="10" width="100%">
        <TABLE width="100%">
        <TD width="33%">Вернуться <a href="{% url tutor_main_page %}" > назад </a></TD>
        <TD ALIGN="center" width="33%"><a href="{% url tutor_contents %}" > Оглавление </a></TD>
        <TD ALIGN="right"><a href="{% url tutor_filling_base %}" > Следующая страница </a></TD>
        </TABLE>
    </p>
{% endblock tutor_content %}
