{% extends "about/tutor_base.html" %}
{% block tutor_header %}Главная страница проекта{% endblock tutor_header %}
{% block tutor_content %}
    <p>
        После успешного создания проекта Вы окажитесь на его главной странице. 
Здесь отображается основная информация по проекту, которую Вы ввели ранее. Нажав на <b>Edit details</b>, можно ее модифицировать. Справа отображены действующие участники проекта, чтобы добавить нового, необходимо нажать <b>Add new member</b> и ввести имя зарегистрированного пользователя, он будет добавлен к проекту автоматически.

Внизу находятся дискуссионные топики по этому проекту, в которых Вы со своими единомышленниками можете вести обсуждение проекта. Пока там пусто, но Вы в любой момент можете начать новую тему, перейдя по ссылке <b>Start one</b>.

Основу любого проекта составляет его база знаний. Перейдем к базе, нажав по ссылке <b>go</b>. 
        <img src="{{ STATIC_URL }}samples/project_main.jpg" align = "middle" name="Main Page" vspace="10" width="100%">
        <TABLE width="100%">
        <TD width="33%">Вернуться <a href="{% url tutor_create_project %}" > назад </a></TD>
        <TD ALIGN="center" width="33%"><a href="{% url tutor_contents %}" > Оглавление </a></TD>
        <TD ALIGN="right"><a href="{% url tutor_knowledge_base %}" >Следующая страница </a></TD>
        </TABLE>
    </p>
{% endblock tutor_content %}
